[submodule "batmon-haha"]
	path = batmon-hahi
	url = https://github.com/fl4p/batmon-ha
[submodule "influxdb-udp-relay"]
        path = influxdb-udp-relay
        url = https://github.com/fl4p/influxdb-udp-relay
